body{
  background-color: black;
}

h1{
  color: #27b8fb;
}

.content{
  position: absolute;
  width: 600px;
  height: 800px;
  top:50px;
  left:50%;
  margin-left: -300px;
  background-color: #3BBADB;
}
